html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
a {text-decoration: none;color: rgb(172, 172, 201);color: inherit;}
ul ol {list-style: none;}
li {list-style: none;}


text {
    color: orange;
    font-family: monospace;
}